<div class="page">
    <header class="menu__content">
        <nav class="nav">
            <a href="" class="nav__link">Home</a>
            <a href="" class="nav__link">About</a>
            <a href="" class="nav__link">Contact</a>
            <button class="nav__button nav__button--open"></button>
        </nav>
        <div class="menu__wrapper">
            <div class="menu__content">
                <div class="menu">
                    <a href="" class="menu__link">Service</a>
                    <a href="" class="menu__link">Privacy</a>
                    <a href="" class="menu__link">Clients</a>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="slider__content">
            <img src="https://picsum.photos/600/400" alt="photo" class="slider__img">
            <img src="https://picsum.photos/600/400" alt="photo" class="slider__img">
            <img src="https://picsum.photos/600/400" alt="photo" class="slider__img">
            <img src="https://picsum.photos/600/400" alt="photo" class="slider__img">
        </div>
        <button class="button button--left"></button>
        <button class="button button--right"></button>
    </main>
</div>